# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Experiment outputs
runs/*
tests/data/
lightning_logs/
!runs/plots/

# Rust
runtime-rs/target/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Other
docs/
/data/*
